.table-responsive{
    height: 60vh;
}

thead th { 
    position: sticky; 
    top: 0; 
    background: azure;
}

.th-freeze {
    position: sticky;
    left: 0px;
}

.td-freeze {
    position: sticky;
    left: 0px;
    background-color: #ffffff;
}

form {
    margin-bottom: 0rem;
}

.main-content {
    margin-top: 20px !important;
}

.card {
    margin-bottom: 0px;
}

.container-fluid {
    margin-top: 40px !important;
}


/* ::ng-deep .mat-select-value{    
    color: white!important;  } */

.column-width {
    width: 1vw !important;
}