<div class="printMe">
    <div class="row">
        <div class="col-md-12" style="margin-top: 15px;">
            <h3><strong>SKU.NO:</strong> {{skuNo}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><strong>ASN.No:</strong> {{asnNo}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><strong>Product Name:</strong> {{itemDesc}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><strong>Color:</strong> {{color}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><strong>Size:</strong> {{size}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><strong>Quantity:</strong> {{quantity}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><strong>Net Weight:</strong> {{netWeight}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><strong>GR Weight:</strong> {{grWeight}}</h3>
        </div>
    </div>
</div>