.text-warning {
    background: lightgray !important;
    position: sticky;
}

.table-container-85 {
    height: 121vh !important;
    margin-top: 10px;
    overflow: scroll;
}

.table-scroll{
    overflow: auto !important;
  }

.header-style-lg {
    position: sticky;
    height: 25vh;
}

.pull-right{
    height: 30vh;
}

.image-margin-lg{
    margin-top: -140px;
}

.square {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.icon-margin{
    margin-top: 3px;
    margin-left: 3px;
}

.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse;}
th, td { padding: 8px 16px; }
th     { background:#eee; }


.ngxImageZoomThumbnail {
    pointer-events: all !important;
    height: 40vh !important;
}

.img-align-lg {
    margin-top: -18vh;
    margin-right: 6vh;
    z-index: 999999999;
}

.img-details-lg {
    width: 7vw;
    height: 16vh;
}

.row-margin-lg {
    margin-bottom: 10px !important;
}

.card-lg {
    margin-top: 15px !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 8px !important;
    vertical-align: middle;
}

.table tbody + tbody {
    border-top: 0px solid rgba(0, 0, 0, 0.06);
}

.row-cust-lg {
    width: 90% !important;
}

.image-style {
    width: inherit;
    height: inherit;
}

.alignment-img {
    text-align: right;
    margin-top: -100px;
    height: 10vh;
}

.img-contain {
    height: 15vh; 
    width: 11vw;
}

.top-margin-20 {
    margin-top: 20px !important;
}
