<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">SKU History Table</h4>
                      <p class="card-category"> SKU completion details</p>
                  </div>
                  <div class="card-body" style="display: contents;">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th class="th-freeze">SKU#</th>
                                  <th>UPC.No</th>
                                  <th>ASN.No</th>
                                  <th>Maxican Design.No</th>
                                  <th>Item Desc</th>
                                  <th>Size(IN)</th>
                                  <th>Color</th>
                                  <th>Net WT Item</th>
                                  <th>GR WT Item</th>
                                  <th>Tollerance</th>
                                  <th>Order Qty</th>
                                  <th>Order per CTN</th>
                                  <th>FOLD SIZE(IN)</th>
                                  <th>CTN size(IN) LxWxH</th>                               
                                  <th>CBM/CTN</th>
                                  <th>Net Weight</th>
                                  <th>GR WT CTN</th>
                                  <th>Action</th>
                              </thead>
                              <tbody *ngFor="let sku of skuDataList | paginate: { itemsPerPage: 20, currentPage: p }">
                                <tr>
                                    <td class="td-freeze">{{sku.skuNo}}</td>
                                    <td>{{sku.upcNo}}</td>
                                    <td>{{sku.asnNo}}</td>
                                    <td>{{sku.designNo}}</td>
                                    <td>{{sku.itemDesc}}</td>
                                    <td>{{sku.size}}</td>
                                    <td>{{sku.color}}</td>
                                    <td>{{sku.netWeightItem}}</td>
                                    <td>{{sku.grWeightItem}}</td>
                                    <td>{{sku.tolerance | number:'1.3-3'}}</td>
                                    <td>{{sku.orderQty}}</td>
                                    <td>{{sku.qtyPerCtn}}</td>
                                    <td>{{sku.foldSize}}</td>
                                    <td>{{sku.ctnLength}}x{{sku.ctnWidth}}x{{sku.ctnHeight}}</td>
                                    <td>{{sku.cbmCtn | number:'1.3-3'}}</td>
                                    <td class="text-primary">{{sku.netWeightCtn | number:'1.3-3'}}</td>
                                    <td class="text-primary">{{sku.grWeightCtn | number:'1.3-3'}}</td>
                                    <td>
                                    <button mat-raised-button  (click)="deleteMasterSku(sku)" class="btn-danger">
                                        <i matTooltip="Delete SKU" class="material-icons icon-margin">delete</i>
                                    </button>
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="paginator">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0">CTN/QTY Details</h4>
                      <p class="card-category">Each packahe details</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>SKU.No</th>
                                  <th>ASN.No</th>
                                  <th>QTY/CTN</th>
                                  <th>Weight</th>
                                  <th>Tolerance</th>
                                  <th>Verified By</th>
                                  <th>Approved By</th>
                                  <th>Date</th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
